html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: lightsteelblue;
    scroll-behavior: smooth;
}

.body-container {
    margin-top: 8vh;
    margin-bottom: 8vh;
    /* background-color: brown; */
    padding-left: 0;
    padding-right: 0;
}

.hero-section {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 92vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.nav-section {
    height: 25%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-section {
    width: 20%;
    /* background-color: crimson; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 100px;
}

.logo-section img {
    height: 30px;
    width: auto;
}

.list-section {
    width: 80%;
    /* background-color: darkblue; */
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

@media (max-width: 992px) { 
    /* nav {
        display: none ;
    } */

    .navbar-nav {
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .nav-link {
        display: none;
    }

    .dropdown-menu {
        border: 0;
        background-color: #ffffff00;
        left: initial;
        right: 0;
        text-align: right;
        left: initial;
        padding: 0;
        margin: 0;
    }

    .dropdown-item:hover {
        background-color: #ffffff00;
        transform: scale(1.05);
    }

    .list-section {
        align-items: right;
    }
 }

 @media (min-width: 993px) { 
    .dropdown {
        display: none ;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
 }

.main-section {
    height: 75%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: left;
    /* align-items: center; */
    flex-direction: row;
}

.hero-text {
    width: 40%;
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.hero-text-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 80px;
    line-height: 110%;
}

.hero-text-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.hero-text-more {
    font-family: 'Molengo', sans-serif;
    font-size: 16px;
    margin-top: 50px;
}

.hero-text-more span {
    border: 2px #EF8641 solid;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text-more a {
    text-decoration: none;
    color: inherit;
}

.hero-text-more span:hover {
    background-color: #EF8641;
    color: white;
    transition-delay: 0.1s;
}

.hero-image {
    width: 60%;
    /* background-color: darkorange; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hero-image img {
    height: 100%;
    width: auto;
}

.why-section {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.why-header {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
}

.why-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: khaki; */
}

.why-icon {
    height: 75px;
}

.why-icon img {
    width: 75px;
    height: auto;
    margin-top: 50px;
}

.why-text {
    height: auto;
    margin-top: 115px;
    text-align: center;
    width: 70%;
    font-family: 'Molengo', sans-serif;
}

.feature-section {
    height: 450px;
    background-color:WHITE;
    display: flex;
    flex-direction: column;
}

.feature-header {
    height: 20%;
}

.feature-main {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.feature-image {
    width: 50%;
    /* background-color: khaki; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.feature-image img {
    width: 80%;
    height: auto;
}

.feature-text {
    width: 50%;
    font-family: 'Molengo', sans-serif;
    /* background-color: lightcoral; */
    padding-right: 100px;
    padding-top: 50px;
}

.price-section {
    height: 450px;
    background-color:WHITE;
    display: flex;
    flex-direction: column;
}

.price-header {
    height: 20%;
}

.price-main {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.price-text {
    width: 50%;
    font-family: 'Molengo', sans-serif;
    font-size: 24px;
    /* background-color: lightcoral; */
    padding-left: 100px;
    padding-top: 50px;
    text-align: center;
    padding-top: 25px;
}

#diskon-price {
    font-size: 30px;
}

.price-image {
    width: 50%;
    /* background-color: khaki; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-top: 25px;
}

.price-image img {
    width: 80%;
    height: auto;
}

.theme-section {
    height: 630px;
    background-color:WHITE;
    display: flex;
    flex-direction: column;
}

.theme-header {
    height: 14%;
}

.theme-main {
    /* height: 85%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
}

.theme-main1, .theme-main2, .theme-main3 {
    /* width: 30%; */
    /* border: 3px solid #8AA2BF; */
    /* border-radius: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.theme-main-header {
    height: 5%;
    font-family: 'Molengo', sans-serif;
}

.theme-main-web {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-main-web img {
    width: 80%;
    height: auto;
    margin-top: 20px;
}

.theme-main-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-main-mobile img {
    width: 50%;
    height: auto;
    margin-top: 20px;
}

.theme-main-button {
    margin-top: 30px;
    font-family: 'Molengo', sans-serif;
    font-size: 16px;
}

.theme-main-button span {
    border: 3px #2C314B solid;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    /* text-decoration: underline; */
}

.theme-main-button a {
    text-decoration: none;
    color: inherit;
}

.theme-main-button span:hover {
    transition-delay: 0.2s;
    background-color: #2C314B;
    color: white;
}

.contact-section {
    min-height: 300px;
    background-color:WHITE;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

.contact-header {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-text {
    height: 75%;
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    font-family: 'Molengo', sans-serif;
}

.contact-text-main {
    width: 70%;
    text-align: center;
    line-height: 200%;
}

#whatsapp {
    color: white;
    text-decoration: none;
    background-color: #25D366;
    border: 1px solid #25D366;
    padding: 4px;
    border-radius: 5px;
}

#instagram {
    color: white;
    text-decoration: none;
    background-color: #3f729b;
    border: 1px solid #3f729b;
    padding: 4px;
    border-radius: 5px;
}

.footer {
    height: 60px;
    background-color: #EF8641;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-family: 'Molengo', sans-serif;
}

.footer-text1 {
    font-size: 14px;
}

.footer-text2 {
    font-size: 12px;
}

.footer-text2 a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 992px) { 

    body {
        font-size: 14px;
    }

    .body-container {
        margin-top: 0vh;
        margin-bottom: 0vh;
    }

    .hero-section {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        display: flex;
        flex-direction: column;
        height: 100vh;
        /* margin-top: -75px; */
    }

    .nav-section {
        height: 12%;
    }

    .logo-section {
        padding-left: 25px;
    }

    .list-section {
        padding-right: 25px;
    }

    .dropdown {
        right: 0;
    }

    .main-section {
        flex-direction: column-reverse;
        flex-flow: column-reverse;
        height: 88%;
        margin-top: -75px;
    }

    .hero-text {
        width: 100%;
        /* background-color: darkgreen; */
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
    }

    .hero-image {
        width: 100%;
        height: 45vh;
        /* background-color: darkorange; */
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        /* margin-top: -75px; */
    }
    
    .hero-image img {
        height: auto;
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .hero-text-1 {
        font-size: 26px;
        margin-top: 25px;
    }

    .why-section {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
    .why-header {
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        text-align: center;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 18px;
    }

    .why-col {
        margin-top: -25px;
    }

    .feature-section {
        max-height: 600px;
        padding-bottom: 0px;
    }
    
    .feature-header {
        height: 15%;
    }

    .feature-main {
        flex-direction: column;
        flex-flow: column;
        height: 85%;
    }

    .feature-image {
        width: 100%;
        height: 325px;
        padding-top: 50px;
        /* background-color: khaki; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }
    
    .feature-image img {
        width: auto;
        height: 200px;
    }
    
    .feature-text {
        width: 100%;
        height: 200px;
        font-family: 'Molengo', sans-serif;
        /* background-color: lightcoral; */
        padding-right: 25px;
        padding-left: 25px;
        padding-top: 25px;
    }

    .price-section {
        min-height: 600px;
    }
    
    .price-header {
        height: 15%;
        padding-top: 75px;
    }
    
    .price-main {
        height: 85%;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .price-text {
        width: 100%;
        height: 250px;
        /* background-color: lightcoral; */
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
        padding-top: 0px;
        font-size: 18px;
    }
    
    #diskon-price {
        font-size: 24px;
    }

    .price-image {
        width: 100%;
        height: 250px;
        /* background-color: khaki; */
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0px;
        padding-top: 0px;
    }
    
    .price-image img {
        width: auto;
        height: 200px;
    }

    .theme-section {
        min-height: 1900px;
        margin-top: -90px;
    }

    .theme-header {
        height: 90px;
    }

    .theme-main {
        padding-top: 0px;
    }

    /* .theme-main {
        min-height: 2110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
    }

    .theme-main1, .theme-main2, .theme-main3 {
        width: 100%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
    } */

    .theme-main1, .theme-main2 {
        border-bottom: 1px solid #2C314B;
    }

    .theme-main-web {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .theme-main-web img {
        width: auto;
        height: 150px;
        margin-top: 20px;
    }
    
    .theme-main-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .theme-main-mobile img {
        width: auto;
        height: 300px;
        margin-top: 20px;
    }
    
    .theme-main-button {
        font-size: 14px;
    }
    
    .theme-main-button span {
        border: 2px #2C314B solid;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        /* text-decoration: underline; */
    }
    
    .contact-section {
        min-height: 300px;
    }

    .contact-text {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 25px;
    }

    .contact-text-main {
        width: 100%;
    }

    .footer {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    

 }