html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: lightsteelblue;
    scroll-behavior: smooth;
}

.body-container {
    margin-top: 8vh;
    /* background-color: brown; */
    padding-left: 0;
    padding-right: 0;
}

.hero-section {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 92vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.nav-section {
    height: 25%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: row;
}

.logo-section {
    width: 20%;
    /* background-color: crimson; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 100px;
}

.logo-section img {
    height: 30px;
    width: auto;
}

.list-section {
    width: 80%;
    /* background-color: darkblue; */
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}

@media (max-width: 992px) { 
    nav {
        display: none ;
    }

    .dropdown-menu {
        border: 0;
        background-color: #ffffff00;
        left: initial;
        right: 0;
        text-align: right;
        left: initial;
        padding: 0;
        margin: 0;
    }


    .dropdown-item:hover {
        background-color: #ffffff00;
        transform: scale(1.05);
    }
    
 }

 @media (min-width: 992px) { 
    .dropdown {
        display: none ;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
 }

.main-section {
    height: 75%;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content: left;
    /* align-items: center; */
    flex-direction: row;
}

.hero-text {
    width: 40%;
    /* background-color: darkgreen; */
    display: flex;
    flex-direction: column;
    padding-left: 100px;
}

.hero-text-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 80px;
    line-height: 110%;
}

.hero-text-2 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.hero-text-more {
    font-family: 'Molengo', sans-serif;
    font-size: 16px;
    margin-top: 50px;
}

.hero-text-more span {
    border: 2px #EF8641 solid;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text-more a {
    text-decoration: none;
    color: inherit;
}

.hero-text-more span:hover {
    border: 2px #EF8641 solid;
    padding: 7px;
    border-radius: 5px;
    background-color: #EF8641;
    color: white;
    transition-delay: 0.1s;
}

.hero-image {
    width: 60%;
    /* background-color: darkorange; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hero-image img {
    height: 100%;
    width: auto;
}

.why-section {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.why-header {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
}

.why-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: khaki; */
}

.why-icon {
    height: 75px;
}

.why-icon img {
    width: 75px;
    height: auto;
    margin-top: 50px;
}

.why-text {
    height: auto;
    margin-top: 115px;
    text-align: center;
    width: 70%;
    font-family: 'Molengo', sans-serif;
}

.feature-section {
    height: 450px;
    background-color:WHITE;
    display: flex;
    flex-direction: column;
}

.feature-header {
    height: 20%;
}

.feature-main {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.feature-image {
    width: 50%;
    /* background-color: khaki; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.feature-image img {
    width: 80%;
    height: auto;
}

.feature-text {
    width: 50%;
    font-family: 'Molengo', sans-serif;
    /* background-color: lightcoral; */
    padding-right: 100px;
    padding-top: 50px;
}

.price-section {
    height: 450px;
    background-color:WHITE;
    display: flex;
    flex-direction: column;
}

.price-header {
    height: 20%;
}

.price-main {
    height: 80%;
    display: flex;
    flex-direction: row;
}

.price-text {
    width: 50%;
    font-family: 'Molengo', sans-serif;
    font-size: 24px;
    /* background-color: lightcoral; */
    padding-left: 100px;
    padding-top: 50px;
    text-align: center;
}

.price-image {
    width: 50%;
    /* background-color: khaki; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}

.price-image img {
    width: 80%;
    height: auto;
}



